@import './shared/pallette.css';

.wrapper {
    padding-bottom: 10px;
}

.element {
    color: var(--primary-color);
    font-family: sans-serif;
    background-color: var(--quaternary-color);
    border-radius: 10px;
    padding: 5px;
    display: flex;
}

.element:nth-of-type(odd) {
    background-color: var(--quinary-color);
}

.letter {
    font-size: 4.5em;
    font-family: cursive;
    color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 5px;
    text-align: center;
    line-height: 1.1em;
    width: 1.1em;
    height: 1.1em;
}

.list {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
